$white: HSLA(0, 0%, 100%, 1);
$lightgrey: HSLA(206, 100%, 97%, 1);
$grey: HSLA(210, 26%, 80%, 1);
$lightblue: HSLA(205, 100%, 88%, 1);
$blue: HSLA(210, 98%, 82%, 1);
$darkblue: HSLA(210, 100%, 78%, 1);
$red: HSLA(0, 82%, 63%, 1);